
$gray: rgba(153, 153, 153, 1);
$primary: var(--Links, rgba(105, 121, 248, 1));
$light-white: rgba(231, 237, 244, 1);
$black: rgba(0, 0, 0, 1);
$white:rgba(255, 255, 255, 1);
$dark-primary: rgba(60, 75, 196, 1);


$max-width-1920: 1920px;
$max-width-1650: 1650px;
$max-width-1500: 1500px;
$max-width-1400: 1400px;
$max-width-1200: 1200px;
$max-width-1300: 1300px;
$max-width-991: 991px;
$max-width-767: 767px;
$max-width-576: 576px;
$max-width-400: 400px;
